Q7 Describe how to add, modify, and delete items in a dictionary with examples.
1. Dictionary is data structure in which we store values as a pair of key and value.
2. Each key is separated from its value by a colon (:), and consecutive items are separated by commas.
3. The entire item are closed in curly brackets({}).

In [98]:
document = {"Name":"Gyanendra singh", "Roll_no":"0203","course":"Btech","Duration":"4 year",}

In [100]:
type(document)

dict

In [102]:
# modify the value with the help of key of dictionary
document["Name"] = "Shanu"

In [104]:
print(document)

{'Name': 'Shanu', 'Roll_no': '0203', 'course': 'Btech', 'Duration': '4 year'}

In [106]:
# To acess values in a dictionary, square brackets are used along with the key to obtain its value.
document["Name"]

'Shanu'

In [19]:
document["Roll_no"]

'0203'

In [108]:
print(document)

{'Name': 'Shanu', 'Roll_no': '0203', 'course': 'Btech', 'Duration': '4 year'}

In [31]:
# I also want to add gmail
document["gmail"] = "gyani487@gmail.com" # adding the gmail in document

In [33]:
print(document)

{'Name': 'Gyanendra singh', 'Roll_no': '0203', 'course': 'Btech', 'Duration': '4 year', 'gmail': 'gyani487@gmail.com'}

In [35]:
d = {"name":["sanjay","vijay","ram","shayam"], "age":[34,45,56,23]}

In [37]:
d

{'name': ['sanjay', 'vijay', 'ram', 'shayam'], 'age': [34, 45, 56, 23]}

In [39]:
d = {"name":["sanjay","vijay","ram","shayam"], "age":[34,45,56,23],"name":"shanu","age":24} #> if more than one same key value then the last one 
# is preffered

In [41]:
d

{'name': 'shanu', 'age': 24}

In [43]:
# deleting the data of dictionary 
del d

In [45]:
d

NameError: name 'd' is not defined

In [47]:
document = {"Name":"Gyanendra singh", "Roll_no":"0203","course":"Btech","Duration":"4 year",}

In [49]:
print(document)

{'Name': 'Gyanendra singh', 'Roll_no': '0203', 'course': 'Btech', 'Duration': '4 year'}

In [53]:
# emptying the dictionary we use [d.clear()]
document

{'Name': 'Gyanendra singh',
 'Roll_no': '0203',
 'course': 'Btech',
 'Duration': '4 year'}

In [57]:
document.clear()

In [59]:
document

{}

In [65]:
document = {"Name":"Gyanendra singh", "Roll_no":"0203","course":"Btech","Duration":"4 year",}

In [67]:
# with the help of pop operator we can deletate the specific key value for the use of specific key
document

{'Name': 'Gyanendra singh',
 'Roll_no': '0203',
 'course': 'Btech',
 'Duration': '4 year'}

In [69]:
document.pop("course")

'Btech'

In [71]:
document

{'Name': 'Gyanendra singh', 'Roll_no': '0203', 'Duration': '4 year'}

In [88]:
# with h=the help of update operator we can add other dictionary on the original dictionary
d = {"course":"Data science"}
d1 ={"Course offered":"physics wallah"}

In [90]:
d

{'course': 'Data science'}

In [92]:
d1

{'Course offered': 'physics wallah'}

In [94]:
d.update(d1)

In [86]:
d

{'course': 'Data science', 'Course offerd': 'physics wallah'}

In [96]:
len(d)

2

In [124]:
# we also modify the data with the help of dictionary comprehension and zip finction

# dictionary comprehension 
# zip function >>it acess the value together
students = ["Arjun", "vijay","Ram"]
marks = [34,45,50]
for i in zip (students, marks):
    print(i)

('Arjun', 34)
('vijay', 45)
('Ram', 50)

In [128]:
# dictionary comprehension method
{student:marks for student, mark in zip(students , marks)}

{'Arjun': [34, 45, 50], 'vijay': [34, 45, 50], 'Ram': [34, 45, 50]}